@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;

  --grey-opac: #8080807a;
  --blue: #159aff;
  --blue-hover: #178ee9;
  --white: #ffffff;
  --red: #dd3939;
  --red-hover: #c73535;
  --grey: #d3d3d3;
  --grey-hover: #bdbdbd;
  --green: #00b93e;
  --green-hover: #00a838;
  --form-color: #ececec;
  --standard-border-radius: 0.5rem;
  --gap-book: 2rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--standard-border-radius);
}

a,
p {
  font-size: 1.5rem;
}

.fa-spinner {
  color: var(--grey-hover);
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 1px 4px #c0c0c0;
}

header h1 {
  font-weight: lighter;
  font-size: 3rem;
}

#user-spinner {
  font-size: 2.5rem;
}

#user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#user-pic {
  width: 3rem;
  height: 3rem;
  border-radius: var(--standard-border-radius);
}

#sign-in,
#sign-out,
.read-status {
  background-color: var(--grey);
}

#sign-in:hover,
#sign-out:hover,
.read-status:hover {
  background-color: var(--grey-hover);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}

#new-book {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--blue);
}
#new-book:hover {
  background-color: var(--blue-hover);
}

form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--form-color);
}

form > input {
  font-family: inherit;
  font-size: 1.5rem;
  display: block;
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border: none;
  border-radius: var(--standard-border-radius);
  outline: none;
}

form h2 {
  font-size: 2rem;
  width: max-content;
  margin: 0 auto 1rem auto;
}

form > label {
  display: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.select label {
  font-size: 1.5rem;
}

select {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--grey-opac);
  border-radius: var(--standard-border-radius);
  outline: none;
}

form button {
  font-weight: bold;
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  background-color: var(--blue);
  color: var(--white);
  display: block;
  margin: 1rem auto 0 auto;
}
form button:hover {
  background-color: var(--blue-hover);
}

#books-spinner {
  font-size: 4rem;
}

#book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-book);
  flex-wrap: wrap;
}

.book {
  border: 2px solid #c0c0c0;
  border-radius: var(--standard-border-radius);
  padding: 2rem;
  display: grid;
  grid-template-columns: 18rem 7rem;
  align-items: center;
}

.book-title {
  font-size: 2rem;
}

.book-author {
  font-size: 1.2rem;
}

.book-pages {
  grid-column: 2;
  grid-row: 1 / span 2;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
}

.read-status,
.remove-book {
  margin-top: 2rem;
}

.read-status {
  margin-right: 1rem;
  font-weight: bold;
}

.read {
  background-color: var(--green);
  color: var(--white);
}
.read:hover {
  background-color: var(--green-hover);
}

.remove-book {
  color: var(--white);
  background-color: var(--red);
}
.remove-book:hover {
  background-color: var(--red-hover);
}

footer {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--green);
}
footer a:hover {
  text-decoration: underline;
}

.fa-github {
  transition: all 500ms ease;
}
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
