:root {
  position: relative;
  min-height: 100%;
  font-size: 12px;

  --grey-opac: #8080807a;
  --blue: #159aff;
  --blue-hover: #178ee9;
  --white: #ffffff;
  --red: #dd3939;
  --red-hover: #c73535;
  --grey: #d3d3d3;
  --grey-hover: #bdbdbd;
  --green: #00b93e;
  --green-hover: #00a838;
  --form-color: #ececec;
  --standard-border-radius: 0.5rem;
  --gap-book: 2rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.3rem;
}

body {
  margin-bottom: 6rem;
}

button {
  cursor: pointer;
  border: none;
}

header {
  width: 60%;
  margin: 0 auto;
}

header h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 10rem 0 1rem 0;
}

header > button {
  border-radius: var(--standard-border-radius);
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
header > button:hover {
  background-color: var(--blue-hover);
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-container > div:first-child {
  font-weight: bold;
}

.book {
  font-family: sans-serif;
  border-bottom: 1px solid var(--grey-opac);
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;
  gap: var(--gap-book);
  width: 60%;
}

.book > div {
  width: calc((100% - (var(--gap-book) * 5)) / 5);
}
.book > div:nth-child(3) {
  width: calc((100% - (var(--gap-book) * 5)) / 10);
}
.book > div:nth-child(4) {
  width: calc((100% - (var(--gap-book) * 5)) / 4);
}
.book > button {
  width: calc((100% - (var(--gap-book) * 5)) / 8);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
}

.book-info {
  font-style: italic;
}

.read {
  background-color: var(--green);
  color: var(--white);
}
.read:hover {
  background-color: var(--green-hover);
}

.not-read {
  background-color: var(--grey);
}
.not-read:hover {
  background-color: var(--grey-hover);
}

.remove-book {
  background-color: var(--red);
  color: var(--white);
}
.remove-book:hover {
  background-color: var(--red-hover);
}

form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--form-color);
}

form > input {
  display: block;
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border: none;
  border-radius: var(--standard-border-radius);
  outline: none;
}

form h2 {
  font-size: 2rem;
  width: max-content;
  margin: 0 auto 1rem auto;
}

form > label {
  display: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

select {
  padding: 0.5rem;
  border: 1px solid var(--grey-opac);
  border-radius: var(--standard-border-radius);
  outline: none;
}

form button {
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  background-color: var(--blue);
  color: var(--white);
  display: block;
  margin: 1rem auto 0 auto;
}
form button:hover {
  background-color: var(--blue-hover);
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  z-index: -1;
  text-align: center;
  text-shadow: 0 0 1px var(--blue);
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--green);
}
footer a:hover {
  text-decoration: underline;
}
